body {
    height: 100vh;
}

.sad {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40%;
    width: 30%;
}

.searchAgain {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 10%;
}